{% extends ('base.html.twig') %}

{% block title %}
    <title>Modificar Usuario</title>
{% endblock %}

{% block body%}
    <h1> Modificar </h1>
    {{ form_start(form_users) }}
        {{ form_row(form_users.name) }}

        {{ form_row(form_users.lastname) }}

        {{ form_row(form_users.email) }}

        {{ form_row(form_users.password) }}


        {{ form_widget(form_users.submit)}}
    {{ form_end(form_users) }}
{% endblock %}